:root {
    --clr-text: #312f2f;
    --clr-primary: #0d84a1;
    --clr-accent: #764981;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--clr-primary);
    font-size: 1.25rem;
}

body {
    margin: 0;  
    overflow: auto;
    height: 100%;
    background: url(../img/Background\ image.jpeg);
    background-size:cover;
} 

html {
    overflow: hidden;
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
}

/* BARRA DE NAVEGACION */

.nav{
    color: white;
    text-decoration: none;
}

.nav:hover {
    color: #0e4c4e;
    transition: .3s;
    transform: scale(1.5);
    cursor: pointer;
    text-decoration: wavy;
}

.nav {
    transition: .3s;
}

.Navbarra {
    height: 5em;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(19, 214, 221), rgb(14, 50, 80) );

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5em;
}

.Izquierda{
    height: auto;
    width: auto;
    margin: 2em;
    color: white;
}

#gr {
    height: 75%;
    width: 75%;
    color: white;
}

.Derecha{
    width: 20em;
    margin: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TITULO PAGINA */



h2 {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#titulo{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    text-decoration: underline;
}

.twoface {
    height: 20em;
    width: 20em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#yo {
    border: 1 px solid white;
    height: 20em;
    width: 10em
}

 /* div.picture{
     height: 6em;
     width: 4em;
     border-radius: 0.8em;
 } */



/* Seccion principal */

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

section{
    height: 30em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

/* div {
    height: 15em;
    display: flex;
    flex-direction: column;
} */

.NavFooter {
    height: 5em;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(19, 214, 221), rgb(14, 50, 80) );

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
}

.blank {
    width: 10em;
    }